<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
<div class="container-fluid">
  {{ partial "nav.html" . }}

  <div class="container">
    <article>
      {{ block "main" . }}{{ end }}
    </article>
  </div>

  {{ partial "bootstrap-js.html" . }}
  {{ partial "google-analytics-async.html" . }}
  {{ partial "mastodon-js.html" . }}
  {{ partial "cookie-consent.html" . }}
  </div>

  <!-- Footer-->
  <footer class="bg-dark py-4 mt-auto">
      <div class="container px-5">
          <div class="row align-items-center justify-content-between flex-column flex-sm-row">
              <div class="col-auto"><div class="small m-0 text-white">Derechos Reservados &copy; Visual Partnership 2021</div></div>
              <div class="col-auto">
                  <a class="link-light small" href="https://twitter.com/visual_partner">@visual_partner</a>
              </div>
          </div>
      </div>
  </footer>

</body>

</html>
